{% extends "adminlte/base_without_nav.html" %}

{% block title %}Acesso Alohomora{% endblock %}
{% block description %}Faça login na sua conta!!{% endblock %}
{% block bodytag %}login-page{% endblock %}

{% block body %}

  <div class="login-box">
    <div class="login-logo">
      <strong>Alo</strong>homora
    </div>
    <div class="login-box-body">
      <p>Faça login na sua conta!!</p>
      {# Display errors (if there are any). #}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {# Render the login form. #}
      <form action="{{ url_for('seller.login') }}" method="post">
        <div class="form-group has-feedback">
          <input type="text" name="seller" placeholder="ID Lojista" required="true" class="form-control">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" name="password" placeholder="Senha" required="true" class="form-control">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-8">
            <!-- <button type="submit" class="btn btn-primary btn-block btn-flat">Acessar</button> -->
            <input type="submit" class="btn btn-primary btn-block btn-flat" value="Acessar">
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
